version: 2.1

orbs:
  node: circleci/node@5.0.3

jobs:
  build-and-test:
    docker:
      - image: cimg/node:20.12.2
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Install Server Dependencies
          command: cd server && npm install
      - run:
          name: Build Backend
          command: cd server && npm run build
      - run:
          name: Build Frontend
          command: npm run build
      - run:
          name: Run Tests
          command: npm test

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build-and-test
